h2 {
  background-color: transparent;
  color: blue;
}

.video {
  float: left;
  padding-right: 30px;
  padding-bottom: 50px;
}

body {
  background: url("https://wallpapercave.com/wp/wp3656598.jpg");
  font: Serif;
  height: 100%;
  width: 100%;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 70px;
}

.text-stuff {
  color: white;
  width: 600px;
}

.SimonSays {
  height: 420px;
  width: 420px;
  float: left;
  padding-right: 30px;
  padding-bottom: 80px;
  padding-left: 70px;
  color: black;
  background-color: white;
}

.clicked {
  filter: brightness(150%);
}

.buttonclass1 {
  background-color: #4CBB17;
  height: 200px;
  width: 200px;
} /* Green */


.buttonclass2 {
  background-color: #87CEEB;
  height: 200px;
  width: 200px;
} /* Blue */

.buttonclass3 {
  background-color: #fd5c63;
  height: 200px;
  width: 200px;
} /* Red */


.buttonclass4 {
  background-color: #FFBF00;
  height: 200px;
  width: 200px;
} /* Yellow */
